.board {
    display: grid;
    font-size: 40px;
    border: 2px solid black;
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: 250px 250px 250px;
    width: 100%;
    
}

.s1 {
    background-color: lightcoral;
}
.s2 {
    background-color: lightslategray;
}
.s3 {
    background-color: lightseagreen;
}
.s4 {
    background-color: lightgoldenrodyellow;
}
.s5 {
    background-color: lightblue;
}
.s6 {
    background-color: lightpink
}
.s7 {
    background-color: lavender;
}
.s8 {
    background-color: paleturquoise;
}
.s9 {
    background-color: papayawhip;
}